
/*terminar css poner musica y letras star wars*/
body{
    background: url(https://wallpapers.com/images/featured/5binreit9du28bif.jpg);
    color: yellow;
    letter-spacing: 2.5px;
}


ul{
    margin-left:5% ;
    margin-right:5%;
    display: flex;
    justify-content: space-evenly;
    height: auto;
    margin-top: 200px;
}

a{
    text-decoration: none;
    color: yellow;
}


div{
    font-size: larger;
    text-align: center;
    display: flex;
    flex-direction: column; /*poner flex en columna*/
    border-radius: 10px;
    padding: 10px;
    border: 1px solid red;
    box-shadow: red 0px 1px 8px 5px;

}
