/*body{
    background: url(http://wallpapercave.com/wp/pEeUsp1.jpg);
    color: yellow;
    letter-spacing: 2px;
}

/* #ej1 {
    border: 1px solid red;
    height: 300px;
    width: 200px;

    overflow: hidden;
}

#ej1:hover {
    overflow-y: scroll;
}

#contenido{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    margin-left:5% ;
    margin-right: 5%;


}

#agrupacion{
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.774);
    width: 300px;
    height: 500px;
    overflow: hidden;

}

#contenido > div > div{
    text-align: left;
    overflow-y: scroll;
}
li{
    margin-left:10px;
}
a {
    text-decoration: none;
    color: white;
}

#contenido > div > div::-webkit-scrollbar {
    width: 12px;
}
  
#contenido > div > div::-webkit-scrollbar-track {
    background: none;
}
  
#contenido > div > div::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
    border: 3px solid black; 
}
 #Back{
    display: flex;
    flex-direction: row;
} */
